<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.malcom.malang.dao.CartDao">

<select id="select" resultType="CartVO">
	SELECT * FROM tbl_cart
</select>

<select id="findById" resultType="CartVO">
	SELECT * FROM tbl_cart
	WHERE cr_code = #{cr_code}
</select>

<select id="findByBuyerId" resultType="CartVO">
	SELECT * FROM tbl_cart
	WHERE cr_buyerid = #{cr_buyerid}
	ORDER BY cr_code DESC
</select>

<insert id="insert" parameterType="CartVO">
	INSERT INTO tbl_cart(cr_buyerid, cr_itcode, cr_option, cr_price, cr_amount, cr_shippingfee)
	VALUES(#{cr_buyerid}, #{cr_itcode}, #{cr_option}, #{cr_price}, #{cr_amount}, #{cr_shippingfee})
</insert>

<update id="update" parameterType="CartVO">
	UPDATE tbl_cart SET 
	cr_buyerid = #{cr_buyerid}
	cr_itcode = #{cr_itcode}
	cr_option = #{cr_option}
	cr_price = #{cr_price}
	cr_amount = #{cr_amount}
	cr_shippingfee = #{cr_shippingfee}
	WHERE cr_code = #{cr_code}
</update>

<delete id="delete">
	DELETE FROM tbl_cart
	WHERE cr_code = #{cr_code}
</delete>

</mapper>