<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.malcom.malang.dao.ItemDao">

<select id="select" resultType="ItemVO">
	SELECT * FROM tbl_item
</select>

<select id="findById" resultType="ItemVO">
	SELECT * FROM tbl_item
	WHERE it_code = #{it_code}
</select>

<select id="selectCategory" resultType="CateVO">
	SELECT * FROM tbl_category
</select>

<select id="categoryMain" resultType="String">
	SELECT ct_main FROM tbl_category
	GROUP BY ct_main
	ORDER BY ct_main DESC
</select>

<select id="categorySub" resultType="String">
	SELECT ct_sub FROM tbl_category
	WHERE ct_main = #{ct_main}
	ORDER BY ct_code DESC
</select>

<select id="categorySubWithCode" resultType="CateVO">
	SELECT ct_code, ct_sub FROM tbl_category
	WHERE ct_main = #{ct_main}
	ORDER BY ct_code DESC
</select>

<insert id="insert" parameterType="ItemVO">

</insert>

<update id="update" parameterType="ItemVO">

</update>

<delete id="delete">

</delete>

</mapper>