@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

section.banner {
	background-color: #ffd3c2;
	width: 100%;
	height: 50vh;
	margin: 0 auto;
	position: relative;
}

section.banner div.images {
	display: flex;
	transition: 1s;
}

section.banner div.images img {
	width: 1056px;
	
}

section.banner div.mask {
	width: 1056px;
	margin:0 auto;
	height: inherit;
	overflow: hidden;
}

section.banner article.textbox {
	position: absolute;
	left: 28%;
	top: 25%;
	color: black;
}

section.banner article.textbox div {
	top: 10px;
	width: 350px;
	opacity: 0;
	position: absolute;
	text-align: center;
	color: #707070;
	transition: 1s;
}

section.banner article.textbox div p {
	font-size: 20px;
	margin: 0;
	transition: 0.3s;
}

section.banner article.textbox div h3 {
	font-size: 30px;
	margin: 10px 0;
	transition: 0.3s;
}

section.banner article.textbox div:first-child {
	opacity: 1;
}

section.banner article.nav {
	width:1056px;
	position: absolute;
	left: 20px;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	color: transparent;
	margin:0 auto;
}

section.banner article.nav div:last-child {
	margin-left: auto;
}

section.banner article.nav div:hover {
	cursor: pointer;
}