@charset "UTF-8";

div.sNav, div.sTable {
	display: flex;
	position: relative;
	justify-content: center;
}

div.sTable {
	width: 1000px;
	margin: 10px auto;
}

div.sNav {
	border: 1px solid gray;
}

table.sTable {
	border-top: 1px solid rgba(0, 0, 0, 0.6);
	width: 1000px;
	margin: 10px auto;
	padding: 5px;
	position: relative;
	border-collapse: collapse;
	top: 10px;
}

thead#top {
	font-weight: bold;
	vertical-align: middle;
}

tbody#content tr:hover{
	background-color:rgba(0,0,0,0.2);
	transition:0.5s ease;
	
}


.sTable td {
	text-align: center;
	white-space: nowrap;
	padding: 6px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.num {
	justify-content: center;
	display: flex;
	margin: 10px auto;
	margin-left: -60px;
}

.num a {
	border: white;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	display: inline-block;
	min-width: 36px;
	height: 36px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	line-height: 34px;
	text-decoration: none;
	text-align: center;
	border-radius: 500px;
	cursor: pointer;
}

.s_content {
	border: 1px solid rgba(0, 0, 0, 0.2);
	width: 1050px;
	padding: 10px;
	margin: 5px auto;
	margin-left: -40px;
}

tbody td:nth-of-type(2) {
	text-align: left;
	font-weight: bold;
	cursor:pointer;
}

tbody td:nth-of-type(3) {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.6);
}

#content td:nth-of-type(1), #content td:nth-of-type(4) {
	color: rgba(0, 0, 0, 0.4);
	font-size: 14px;
}

#content td:nth-of-type(2) {
	color: rgba(0, 0, 0, 0.6);
}

a#s_text {
	margin-left: 15px;
	padding: 5px;
	border-bottom: 2px solid rgba(235, 164, 123, 0.7);
	font-size: 28px;
	color: rgba(235, 164, 123, 0.993);
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

div.s_container {
	flex: 1;
	width: 1056px;
	margin: 0 auto;
}

div.s_search {
	display: flex;
	justify-content: flex-end;
	margin-right: 15px;
}

div.s_search input {
	margin-left: 15px;
	padding: 4px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 14px;
}

div.s_search input:focus {
	outline: none;
}

div.s_search button, #s_write {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 14px;
	padding: 3px;
	color:rgba(0, 0, 0, 0.7);
}

div.s_search button:hover, #s_write:hover{
	cursor:pointer;
	background-color: rgba(235, 164, 123, 0.993);
	color:white;
	transition:0.5s ease;
	border:1px solid rgba(235, 164, 123, 0.993);
}