@charset "UTF-8";
div.today {
	width: 1056px;
	margin: 5px auto;
	padding-top:12px;
	border-bottom: 1px solid gray;
}

div.today h3 {
	font-size: 22px;
	padding-bottom:3px;
}

section.item_section {
	width: 1056px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}


section.item_section div.item_content {
	border: 1px solid skyblue;
	margin: 5px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 250px;
	height: 350px;
	border: 1px solid rgba(170, 170, 170, 0.377);
	border-radius: 5px;
}
section.item_section div.item_content.empty {
	align-items: center;
	justify-content: center;
}

section.item_section div.item_content.empty h2{
		font-size:30px;
		color:gray;
}

section.item_section div.item_content img {
	margin: 3px auto;
	width: 240px;
	height: 240px;
}

section.item_section div.item_content div {
	width: 240px;
	margin: 2px auto;
}