@charset "UTF-8";

@import
	url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap")
	;

@font-face {
	font-family: 'TmoneyRoundWindRegular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: "Noto Sans KR", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	margin: 0;
}

div.login{
    display: flex;
    justify-content: center;
    position: relative;
    width: 70%;
    margin: 40px auto;
    animation:login_down 0.5s;
}

@keyframes login_down {
        0% {
      
          transform: translateY(-50%);
          opacity: 0.3;
        }
        100% {
        
          transform: translateY(0);
          opacity:1;
        }
      }

a#logo {
	cursor: pointer;
    text-decoration: none;
    font-family: 'TmoneyRoundWindRegular';
    color: rgba(235, 164, 123, 0.993);
    font-size: 40px;
    margin-top: 45px;
    margin-left: -490px;
}

div.logo {
	position: relative;
	width: 70%;
	margin: 40px auto;
	display: flex;
}

div.main {
	position: absolute;
    top: 100px;
    left: 50%;
    width: 500px;
    padding: 15%;
    margin: 0 -335px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 2px solid rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
}

div.input button {
	border: none;
	display: block;
	width: 98%;
	margin-left: 5px;
	margin-top: 8px;
}

.btn_input {
	margin-top: 40px;
}

button {
	padding: 12px;
	color: white;
	background-color: rgba(235, 164, 123, 0.8);
	font-size: 17px;
	font-weight: bold;
}

button:hover {
	cursor: pointer;
}

button#login:hover {
	background-color: rgba(235, 148, 122, 0.9);
	transition: 0.5s;
	transition: 0.5s;
}

button#join:hover {
	background-color: rgba(235, 148, 122, 0.9);
	transition: 0.5s;
}

input#check {
	margin: 4px;
}

div.input label {
	font-size: 13px;
}
