@charset "UTF-8";

/* 
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      } */

      div.container {
        /* background-color: #AAA; */
        width: 1056px;
        margin: 0 auto;
      }

      ul.review {
        list-style: none;
      }

      header.review {
        width: 100%;
        height: 144px;
        background-color: rgba(179, 66, 85, 0.863);
        margin: 0 auto; /* 네비랑 겹치기때문에 넣음 */

        
      }

      header.review h2 {
        width: 1056px;
        color: white;
        font-size: 30px;
        
        margin: 0 auto;
        padding-left: 10px;
        line-height: 6rem;

        text-align: left;

      }

      article.review-list {
        display: flex;
      }

      article.review-list ul.review {
        flex: 1;
        border: 1px solid rgba(170, 170, 170, 0.377);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        margin: 15px 5px;
        padding: 5px;
      }

      article.review-list ul.review li {
        border-top: 1px solid #ccc;

        margin: 30px 0;
      }

      article.review-list ul.review li:nth-child(2) {
        margin: 10px 0;
      }



